.container {
    display: grid;
    row-gap: 0px;
    place-items: center;
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.container .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container p {
    margin: 0 auto;
    text-align: center;
}
