.container {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.container .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container p {
    margin: 0 auto;
    text-align: center;
}
